.container-card{
  background-color: #191919;
  width: 750px;
  height: auto;
  padding: 20px 30px;
}

.img-post_card{
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-card p{
  color: #bfbfbf;
  font-size: 22px;
  font-weight: 600;
}

.title-card{
  color: #999;
}

.picks{
  margin-top: 15px;
  display: flex;
}

.picks p{
  margin-left: 7px;
  color: #999;
}

.meter{
  width: 23px;
}

.clock {
  width: 23px;
  margin-left: 20px;
}

.eye {
  width: 23px;
  margin-left: 20px;
}

.description-card p{
  color: #bfbfbf;
}

.arrowCta {
  display: block;
  height: 13px;
  width: 13px;
  border: 11px solid transparent;
  transform: rotate(45deg);
  position: relative;
  margin-left: 660px;
  margin-bottom: 25px;
}

.arrowCta:after,
.arrowCta:before {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.arrowCta:after {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  top: 0;
  left: 0;
  opacity: 1;
  animation: bottom-arrow 1.65s infinite;
}

@keyframes bottom-arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  45% {
    opacity: 0;
    transform: translate(12px, 12px);
  }

  46% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }

  90% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }

  100% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
}

.arrowCta:before {
  top: 0;
  left: 0;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  animation: top-arrow 1.65s infinite;
}

@keyframes top-arrow {
  0% {
    transform: translate(-6px, -6px);
  }

  35% {
    transform: translate(0, 0);
  }

  90% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.tm-article-snippet__readmore {
  background-color: transparent;
  border: 1px solid #FFD11A;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  font-size: .8125rem;
  min-height: 36px;
  height: auto;
  line-height: 1.6875rem;
  margin-top: 10px;
  padding: 0 13px;
  text-decoration: none;
  position: absolute;
}

.open-story{
  z-index: 0;
}